:root {
    --list-item-font-size: 1.5rem;
}

.users-list-item {
    padding: 1rem;
    font-size: var(--list-item-font-size);
    margin-bottom: 1rem;
}

.users-list-item div {
    margin-bottom: 1.5rem;
}

div.users-list-item__menu {
    display: flex;
    column-gap: 1rem;
    margin-bottom: 0;
}
